.form-block {
  margin-top: 80px;
}

.text-field {
  height: 50px;
  margin-top: 9px;
  margin-bottom: 40px;
  padding-top: 13px;
  padding-right: 16px;
  padding-left: 16px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  border-radius: 2px;
  background-color: #fafafa;
  font-family: Montserrat, sans-serif;
  color: #00923f;
}

.text-field::-webkit-input-placeholder {
  background-color: transparent;
  color: #00923f;
}

.text-field:-ms-input-placeholder {
  background-color: transparent;
  color: #00923f;
}

.text-field::placeholder {
  background-color: transparent;
  color: #00923f;
}

.heading {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
}

.container {
  padding-top: 50px;
}

.section {
  padding-bottom: 100px;
}

.section-2 {
  padding-top: 86px;
  padding-bottom: 50px;
  background-color: #00923f;
}

.field-label {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.submit-button {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 50px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #00923f;
  font-weight: 700;
  text-transform: uppercase;
}

.text-block {
  margin-top: 75px;
  margin-bottom: 22px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e9b7b7;
  font-family: Montserrat, sans-serif;
  color: #f0c1c1;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 5;
  height: 98px;
  background-color: #00923f;
  color: #fff;
}

.section-3 {
  padding-top: 117px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4 {
  height: 80vh;
  background-color: #00923f;
}

.container-3 {
  height: 100%;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-2 {
  margin-bottom: 22px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 56px;
  line-height: 61px;
  font-weight: 100;
}

.registration-button {
  margin-top: 10px;
  margin-left: 21px;
  padding: 6px 23px;
  border: 2px solid #1e7c33;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #00923f;
  font-weight: 700;
}

.registration-button:hover {
  border-color: #fff;
  background-color: #00923f;
  box-shadow: 0 15px 26px -14px #1b1616;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #fff;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.nav-container {
  margin-right: 100px;
  margin-left: 100px;
}

.navlink {
  margin-left: 18px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 600;
}

.navlink:hover {
  border-bottom-color: #fff;
}

.navlink.w--current {
  border-bottom-color: #000;
  color: #000;
}

.navlink.w--current:hover {
  border-bottom-color: #fff;
  color: #fff;
}

.dropdown-toggle {
  margin-top: -18px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.dropdown-icon {
  margin-top: 24px;
  margin-right: 0px;
  color: #fff;
}

.nav-menu {
  margin-top: 20px;
}

.dropdown-menulink {
  overflow: hidden;
  padding-right: 60px;
  border-radius: 4px;
}

.dropdown-list.w--open {
  overflow: hidden;
  margin-top: 8px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #00923f;
}

.footer {
  padding-top: 30px;
  padding-bottom:20px;
  background-color: #000;
}

.section-5 {
  height: 1000px;
}

.bassare-home-slider {
  height: 750px;
  background-color: transparent;
}

.footer-link {
  display: block;
  margin-bottom: 13px;
  -webkit-transition: color 350ms ease, padding-left 350ms ease;
  transition: color 350ms ease, padding-left 350ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  padding-left: 10px;
  /* color: rgba(0, 0, 0, 6); */
  text-decoration: none;
  color: #aca;
}

.slides {
  position: relative;
  background-image: -webkit-linear-gradient(270deg, transparent 55%, #000), url('../images/slide-1.jpg');
  background-image: linear-gradient(180deg, transparent 55%, #000), url('../images/slide-1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.slides.slide-2 {
  background-image: -webkit-linear-gradient(270deg, transparent 55%, #000), url('../images/slide-2.jpg');
  background-image: linear-gradient(180deg, transparent 55%, #000), url('../images/slide-2.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
}

.slides.slide-3 {
  background-image: -webkit-linear-gradient(270deg, transparent 55%, #000), url('../images/slide-3.jpg');
  background-image: linear-gradient(180deg, transparent 55%, #000), url('../images/slide-3.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, auto;
  background-repeat: repeat, repeat;
}

.slides.slide-4 {
  background-image: -webkit-linear-gradient(270deg, transparent 55%, #000), url('../images/slide-4.jpg');
  background-image: linear-gradient(180deg, transparent 55%, #000), url('../images/slide-4.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
}

.slides._6 {
  background-image: -webkit-linear-gradient(270deg, transparent 55%, #000), url('../images/slide-5.jpg');
  background-image: linear-gradient(180deg, transparent 55%, #000), url('../images/slide-5.jpg');
}

.section-6 {
  margin-top: 76px;
}

.text-block-2 {
  color: #fff;
}

.slide-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 100px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.heading-3 {
  width: 100%;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 68px;
}

.container-5 {
  margin-top: -170px;
}

.section-7 {
  position: relative;
  z-index: 10;
  padding-top: 110px;
  padding-bottom: 50px;
}

.div-block-2 {
  padding: 37px 37px 71px;
  background-color: #00923f;
}

.brand {
  position: relative;
  padding: 16px 12px 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 #000;
}

.image {
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.container-nav {
  display: block;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.section-8 {
  padding-top: 130px;
  padding-bottom: 57px;
}

.heading-4 {
  margin-top: 28px;
  margin-bottom: 0px;
  margin-left: 21px;
  float: left;
  font-family: Poppins, sans-serif;
  font-size: 19px;
}

.link-block {
  position: relative;
  width: 100%;
  margin-bottom: 22px;
  background-image: -webkit-linear-gradient(270deg, transparent 35%, rgba(0, 0, 0, .73));
  background-image: linear-gradient(180deg, transparent 35%, rgba(0, 0, 0, .73));
  text-decoration: none;
}

.blog-post-title {
  padding-bottom: 6px;
  border-bottom: 1px solid #fff;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.blog-sub-text {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 100%, .45);
}

.blog-post-details-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  font-size: 12px;
}

.blog-post-details-sub.right-sub {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-2 {
  margin-right: 6px;
}

.image-3 {
  margin-right: 9px;
}

.div-block-4 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 32px 20px 20px;
  background-image: -webkit-linear-gradient(270deg, transparent, #00923f 58%);
  background-image: linear-gradient(180deg, transparent, #00923f 58%);
}

.blogpost-finedetails {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.text-block-4 {
  color: #fff;
}

.section-9 {
  position: relative;
}

.container-6 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 35;
  margin-bottom: 120px;
  padding-top: 23px;
  padding-bottom: 21px;
}

.image-4 {
  width: 100%;
}

.container-7 {
  position: relative;
  z-index: 20;
  margin-top: -245px;
  padding: 25px;
  background-color: #fff;
}

.paragraph-2 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.heading-5 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 78px;
  line-height: 90px;
}

.div-block-5 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 178px;
  padding-bottom: 178px;
  background-image: -webkit-linear-gradient(270deg, transparent, #000);
  background-image: linear-gradient(180deg, transparent, #000);
}

.div-block-6 {
  position: relative;
  margin-top: 300px;
  padding: 52px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(270deg, transparent, #00923f 67%);
  background-image: linear-gradient(180deg, transparent, #00923f 67%);
}

.image-5 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 200;
  margin-right: 43px;
}

.heading-6 {
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.section-11 {
  padding-top: 51px;
  padding-bottom: 51px;
}

.founder-name-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 300;
  margin-right: 60px;
  margin-bottom: 20px;
}

.founder-name {
  font-family: Poppins, sans-serif;
  color: #fff;
}

.founder-name.main-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}

.section-12 {
  padding-top: 149px;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .heading {
    font-size: 48px;
    line-height: 60px;
  }
  .container {
    padding-right: 14px;
    padding-left: 14px;
  }
  .container-2 {
    padding-right: 14px;
    padding-left: 14px;
  }
  .menu-button {
    margin-top: 14px;
    padding-right: 0px;
    background-color: #00923f;
  }
  .container-nav {
    padding-right: 12px;
    padding-left: 12px;
  }
  .icon {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 36px;
    line-height: 46px;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section {
    padding-bottom: 70px;
  }
  .section-2 {
    padding-top: 30px;
  }
  .container-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section-4 {
    height: auto;
  }
  .container-3 {
    padding: 22px 24px 55px;
  }
  .heading-2 {
    font-size: 38px;
    line-height: 52px;
  }
  .nav-container {
    padding-right: 18px;
    padding-left: 18px;
  }
  .heading-5 {
    font-size: 42px;
    line-height: 56px;
  }
  .div-block-6 {
    padding-right: 32px;
    padding-left: 32px;
  }
  .heading-6 {
    position: relative;
    z-index: 200;
    margin-bottom: 24px;
  }
}

@media (max-width: 479px) {
  .text-field {
    color: #00923f;
  }
  .heading {
    font-size: 24px;
    line-height: 34px;
  }
  .heading-2 {
    font-size: 30px;
    line-height: 40px;
  }
  .menu-button {
    padding-left: 13px;
  }
  .brand {
    padding-right: 8px;
    padding-bottom: 10px;
    padding-left: 8px;
  }
  .container-nav {
    padding-right: 6px;
    padding-left: 6px;
  }
  .heading-4 {
    margin-top: 26px;
    margin-left: 15px;
    font-size: 11px;
  }
  .div-block-3 {
    padding-top: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog-post-details-sub {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .blog-post-details-sub.right-sub {
    margin-top: 8px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-4 {
    padding: 0px 14px 10px;
  }
  .container-6 {
    margin-bottom: 11px;
  }
  .container-7 {
    margin-top: -164px;
  }
  .div-block-5 {
    padding-top: 44px;
    padding-bottom: 70px;
  }
  .div-block-6 {
    padding-right: 12px;
    padding-bottom: 64px;
    padding-left: 12px;
  }
  .image-5 {
    margin-right: -28px;
  }
  .heading-6 {
    margin-bottom: 16px;
  }
  .founder-name-wrapper {
    margin-right: 15px;
  }
  .founder-name {
    font-size: 12px;
  }
  .founder-name.main-name {
    font-size: 16px;
  }
}
