.left-side p{
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.box{
  display: flex;
  border: 1px solid #0003;
  flex-direction: row;
  border-radius: 5px;
  width: 95vw;
  margin-left: 2.5vw;
}

.inp-style{
  width: 22vw;
  height: 7vh;
  padding:10px;
}
.left-side {
  width: 90vw;
  padding: 20px 50px;
  position: inherit;
}
.inp-mes{
  width: 47.8vw;
  height: 25vh;
  padding: 0px 10px;
  padding-bottom:120px;
  margin-top: 20px;
}
.line{
  width: 20vw;
  border:1px solid green;
}
.but{
  width: 80px;
  height: 50px;
  right: 80px;
  position: relative;
  top: 150px;
}
.inp-style2{
  width: 25vw;
  height: 7vh;
  padding:10px;
  margin-left: 10px;
}
.soc-div{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0px 10px;
}
.soc-div h3{
  position: relative;
  color: grey;
  bottom: 20px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}
.soc-div h2{
  font-family: Poppins, sans-serif;
  color: green;
}
.left-side h2{
  font-family: Poppins, sans-serif;
}
.im{
  width: 30px;
  height: 30px;
}
.soc-im{
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}
.im2{
  width: 30px;
  height: 30px;
  margin-left: 40px;
}
.im2:hover{
  cursor: pointer;
}
.im:hover{
  cursor: pointer;
}
